* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    outline: 0; //기본 속성은 1이고, a태그를 선택했을 때 보이는 outline
}

img {
    border: 0px;
}